<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title>Ping-Pong</title>
</head>
<body>
	<h1>Ping-Pong: </h1>
	<ul>
		{% for ping in result %}
			<li>{{ ping }}</li>
		{% endfor %}
	</ul>
	<form action='/'>
			<button type='submit' class='btn-success'>Go Back</button>
		</form>
</body>
</html>